* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;

}

.signin {
    width: 100%;
    display:flex;
    justify-content: center;
    padding: 100px 0;
}

form {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px 0;
    background-color: #ccc;

}

.container {
    width: 450px;
    display: block;
    margin: auto;
    background-color: #ccc;

}


.heading h1{
    text-align: center;
    font-size: 40px;
    color: #000;
}

.heading p{
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    text-decoration: initial;
}

.form_signin {
    margin: 10px;
}

.lable_form_signin {
    font-size: 18px;
    display: inline-block;
}

.input_form_signin {
    display: block;
    width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 10px 0;
    outline: none;
}

.btn {
    margin: 20px 10px 10px;

}

.btn-signin {
    margin: 10px 0;
    font-size: 16px;
    color: whitesmoke;
    border: none;
    width: 100%;
    border-radius: 12px;
    padding: 10px 15px;
    background-color:#4CAF50 ;
}

.btn-signin:hover {
    cursor: pointer;
    opacity: 0.8;
}

.Forgot_password {
    margin: 20px 20px;
}

.Link_Fortgot--password {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}


.Link_Fortgot--password:hover {
    cursor: pointer;
    text-decoration:underline;
}